@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reuse */
.container {
    width: 90%;
    margin: 0 auto;
}

/* navbar start */

#Header {
    padding-bottom: 50px;
    background-image: linear-gradient(-61deg, rgb(141, 223, 86) 0%, rgba(102, 185, 71, 0.719) 100%);
}

.nav {
    background-color: #537543;
    padding: 20px 0px;
    filter: drop-shadow(-11.698px 14.972px 36.5px rgba(83, 83, 83, 0.13));
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.nav-list .nav-li {
    display: inline-block;
}

.nav-list .nav-li .nav-a {
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 0px 15px;
}

.navbar .icons .serach {
    color: #ffffff;
    font-size: 25px;
}

.navbar .icons .bar {
    color: #ffffff;
    font-size: 25px;
    display: none;
}


#Header .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Header .row .col {
    width: 50%;
}

.header-content .header-h1 {
    width: 80%;
    margin: 0 auto;
    font-size: clamp(20px, 6.5vw, 62px);
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Berkshire Swash";
    filter: drop-shadow(10px 17.321px 10.5px rgba(0, 0, 0, 0.05));
}

.indo {
    font-size: clamp(20px, 4.3vw, 30px);
}

.header-content .header-p {
    width: 80%;
    margin: 30px auto;
    font-size: clamp(16px, 3.4vw, 25px);
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}

.header-content .header-btn {
    font-size: clamp(16px, 3.4vw, 28px);
    padding: 10px 20px;
    margin: 0px 50px;
    color: #3e5831;
    font-weight: 500;
    font-family: "Poppins";
    border-radius: 15px;
    background-color: #e6ca48;
}

.header-img {
    width: 400px;
}



/* navbar end */

/* sec1 start */
#star {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    background-color: #537543;
    padding: 30px 0px;
}

.star .row {
    display: flex;
}

.star .row .col {
    width: 33.33%;
}

.card {
    padding: 20px;
}

.card .card-img {
    width: 40%;
    margin: 0 auto;
}

.card .card-h4 {
    font-size: clamp(20px, 4.3vw, 33px);
    letter-spacing: 3px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
}

.card .card-p {
    font-size: clamp(16px, 3.4vw, 22px);
    width: 85%;
    margin: 10px auto;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

/* sec1 end */

/* Body start */
/* section 1 start */
.section1 {
    display: flex;
    justify-content: end;
    padding: 60px 0px;
    background-image: linear-gradient(-61deg, rgb(84, 203, 5) 0%, rgba(76, 84, 73, 0) 100%);
}

.section1 .box {
    background-color: transparent;
    width: 90%;
}

.section1 .row {
    display: flex;
}

.section1 .row .col1 {
    border-radius: 50% 0% 0% 50%;
    background-color: #e6ca48;
    padding-right: 5%;
}

.section1 .row .col2 {
    background-color: #e6ca48;
    width: 100%;
}

.section1 .row .col2 .our {
    font-size: 60px;
    color: #537543;
    font-family: "Berkshire Swash";

}

.section1 .row .col2 .in {
    font-size: 29px;
    color: #537543;
    font-style: italic;
    font-family: "Poppins";
}

.section1 .row .col2 .para {
    width: 400px;
    padding-top: 20%;
    font-size: 25px;
    color: #225508;
    font-family: "Montserrat";
}

.col2 .ourbtn {
    width: 275px;
    height: 54px;
    border-radius: 27px;
    background-color: #ffffff;
    font-size: 28px;
    color: #3e5831;
    font-family: "Poppins";
    margin-top: 20px;
}
/* section 1 end */

/* section 3 start */
.section2 .container1 .row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.section2 .container1 .card {
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
}

.container1 .sec4-h4 {
    text-align: center;
    font-size: 72px;
    color: #ffffff;
    font-family: "Berkshire Swash";
}

.container1 .sec4-p {
    text-align: center;
    font-size: 23px;
    color: #ffffff;
    font-family: "Poppins";
    letter-spacing: 2px;
}

/* section 3 end */

/* sec7 start */
#menu {
    background-color: green;
}

.menu {
    background-color: #e6ca48;
}
.menu .menu-cont{
    width: 90%;
    margin: 0 auto;
    color: #537942;
    font-family: "Poppins";
    text-align: center;
    padding: 20px;
}

.menu-cont .menu-h2{
font-size: clamp(18px, 7.5vw, 97px);
}
.menu-cont .menu-h4{
font-size: clamp(18px, 4.5vw, 40px);
font-weight: 400;
}
.menu-cont .menu-p{
font-size: clamp(12px, 2vw, 18px);
width: 70%;
margin: 0 auto;
}
.menu-data {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.menu-data .menu-row {
    display: flex;
    padding: 10px;
}

.menu-card {
    width: 50%;
}

.menu-card .menu-col {
    padding: 40px;
    font-family: "Poppins";
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.menu-card .menu-col-h4 {
    font-size: clamp(20px, 4.3vw, 33px)
}

.menu-card .menu-col-p {
    font-size: clamp(30px, 4.3vw, 58px)
}

.menu-card .menu-col-data-p {
    font-size: clamp(12px, 2vw, 18px)
}

/* sec7 end */
/* Body End */

